<!DOCTYPE HTML>
<!--
    Alpha by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Unreal Engine&reg; 4/5 Scripting System</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body class="landing is-preload">
        <div id="page-wrapper">

            <!-- Header -->
                <header id="header" class="alt">
                    <h1><a href="index.html">Unreal Engine&reg; 4/5 Scripting System</a></h1>
                    <nav id="nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="https://github.com/UE4SS-RE/RE-UE4SS">GitHub</a></li>
                            <li><a href="docs.ue4ss.com">Documentation</a></li>
                            <li>
                                <a href="#" class="icon solid fa-angle-down">Modding Guides</a>
                                <ul>
                                    <li><a href="https://docs.ue4ss.com/lua-api.html">Lua API</a></li>
                                    <li><a href="https://docs.ue4ss.com/guides/creating-a-c%2B%2B-mod.html">C++ API</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="icon solid fa-angle-down">Contact</a>
                                <ul>
                                    <li><a href="https://github.com/UE4SS-RE/RE-UE4SS/issues/new/choose">Report an Issue</a></li>
                                    <li><a href="https://github.com/UE4SS-RE/RE-UE4SS/discussions/new?category=general">Start a Discussion</a></li>
                                </ul>
                            </li>
                            <li><a href="downloads.html" class="button">Download</a></li>
                        </ul>
                    </nav>
                </header>

            <!-- Banner -->
                <section id="banner">
                    <h2>Unreal Engine&reg; 4/5 Scripting System</h2>
                    <p>Open Source C++ Modding API, Lua Scripting System, Blueprint Mod Loader, Live Property Editor, and Dumping Utility for Unreal Engine&reg; 4 and Unreal Engine&reg; 5 Games.</p>
                    <ul class="actions special">
                        <li><a href="{{releaseLink}}" class="button primary">Download - Latest Windows</a></li>
                        <li><a href="https://docs.ue4ss.com/installation-guide.html" class="button">Installation</a></li>
                        <li><a href="https://github.com/UE4SS-RE/RE-UE4SS/releases" class="button">Download Other Versions</a></li>
                    </ul>
                </section>

            <!-- Main -->
                <section id="main" class="container">

                    <section class="box special">
                        <header class="major">
                            <h2>The most powerful modding utility
                            <br />
                            for Unreal Engine&reg; games.</h2>
                            <!-- <p>Feature overview:</p> -->
                        </header>
                        <span class="image featured"><img src="images/Console.jpg" alt="" /></span>
                    </section>

                    <section class="box special features">
                        <div class="features-row">
                            <section>
                                <span class="icon solid major fa-code accent2"></span>
                                <h3>Universal Mods</h3>
                                <p>Use or make mods that work across multiple different games.</p>
                            </section>
                            <section>
                                <span class="icon solid major fa-plus accent3"></span>
                                <h3>Blueprint Modloader</h3>
                                <p>Automatically load custom blueprint logic mods without requiring any edits to the game files.</p>
                            </section>
                        </div>
                        <div class="features-row">
                            <section>
                                <span class="icon solid major fa-puzzle-piece accent4"></span>
                                <h3>Dumpers</h3>
                                <p>Use various dumping utilities to improve your understanding of the game.</p>
                            </section>
                            <section>
                                <span class="icon solid major fa-terminal accent5"></span>
                                <h3>Lua Modding API</h3>
                                <p>Interact with game mechanics via Lua scripting to reload and test your mods on the fly.</p>
                            </section>
                        </div>
                    </section>

                    <div class="row">
                        <div class="col-6 col-12-narrower">

                            <section class="box special">
                                <span class="image featured"><img src="images/CAPI.jpg" alt="" /></span>
                                <h3>C++ Modding API</h3>
                                <p>Create C++ mods without the need to use external dumpers or create memory accurate classes.</p>
                                <ul class="actions special">
                                    <li><a href="#" class="button alt">Learn More</a></li>
                                </ul>
                            </section>

                        </div>
                        <div class="col-6 col-12-narrower">

                            <section class="box special">
                                <span class="image featured"><img src="images/LiveView.jpg" alt="" /></span>
                                <h3>Live Object Examiner</h3>
                                <p>Examine all objects in the GUObject array in real time.<br /><br /> </p>
                                <ul class="actions special">
                                    <li><a href="#" class="button alt">Learn More</a></li>
                                </ul>
                            </section>

                        </div>
                    </div>

                </section>

            <!-- CTA -->
                <section id="cta">
                <ul class="actions special">
                    <li><a href="{{releaseLink}}" class="button primary">Download - Latest Windows</a></li>
                    <li><a href="downloads.html" class="button primary">All Versions</a></li>
                </ul>
                    <!-- <p></p> -->
                </section>

            <!-- Footer -->
                <footer id="footer">
                    <ul class="icons">
                        <li><a href="https://github.com/UE4SS-RE" class="icon brands fa-github"><span class="label">Github</span></a></li>
                    </ul>
                    <ul class="rights">
                        <li>All product and company names are trademarks&trade; or registered&reg; trademarks of their respective holders.
                            Use of these marks does not imply any affiliation or other contractual relationship between us and their respective holders,
                            nor does it indicate any endorsement, sponsorship or authorization has been granted to us by their respective holders.</li>
                    </ul>
                    <ul class="copyright">
                        <li>&copy; The Universal Utility Team.&nbsp;&nbsp;&nbsp;All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                    <ul class="rights">
                        <li>This software is intended for educational purposes only. &nbsp;We are not responsible for any use of the software outside of its intended purpose.</li>
                    </ul>
                </footer>

        </div>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.dropotron.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>